.c1{
  
    background-image: url(/assets/image/login-wallpaper1.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 545px;  
  }
  
